.box-header{
    width: 1300px;
    height: 80px;
    background-color: black;
    margin-left: -55px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.box-header > img {
    width: 150px;
    height: 30px;
    margin: 5px;
}


.header-menu {
    margin-left: 1020px;
}

.header-menu > a {
    padding: 5px;
}